@import '../scss/_var';
.submenu {
    z-index: 11;
    display: inline-block;
    cursor: pointer;
    position: relative;
    &-text {
        display: flex;
        align-items: center;
        gap: rem(6);
        &::after {
            content: "";
            display: block;
            font-weight: $fw-bold;
            width: 20px;
            height: 20px;
            background-image: url('../assets/icon/arrowDown.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: $transition;
        }
        &--header {
            color: $main-color;
            font-weight: $fw-bold;
        }
    }
    &-hidden {
        position:absolute;     
        display:none;
        overflow: hidden;
        left:0; 
        margin:0;
        width:210%;
        border-radius:$border-radius-m;          
        background-color:$main-color;
        box-shadow:0 0 5px rgba(#000, .15);
        transition: $transition;
    }
    &-item {         
        display:block;
        padding:15px;
        color: $white-color; 
        transition: $transition;
        &:hover {
            background-color: #052064;
        }       
    }
    &:hover {
        .submenu-hidden {
            display: block;
            animation:fadeInRight .3s ease;
        }
        .submenu-text::after {
            transform: rotate(180deg);
        }
    }
}

@keyframes fadeInRight{
    0%{
        opacity:0;
        transform:translate3d(100%,0,0)
    }
    100%{
        opacity:1;
        transform:none
    }
}
@keyframes fadeInLeft{
    0%{
        opacity:0;
        transform:translate3d(-100%,0,0)
    }
    100%{
        opacity:1;
        transform:none
    }
}

// mobile //
.submenu__mobile {
    position: relative;
    display: inline-block;
    z-index: 11;
    overflow: hidden;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    & > .submenu-hidden {
        position: static;
        display: block;
        max-height: 0px;
        transition: .3s ease-in-out;
    }
    &--active {
        .submenu-hidden {
            max-height: 1000px;
        }
        .submenu-text::after {
            transform: rotate(180deg);
        }
    }
}

@keyframes opacityMenuIn{
    0%{
        opacity:0;
        transform: translateY(-5%);
    }
    100%{
        opacity:1;
        transform: translateY(0);
    }
}