.submenu {
  z-index: 11;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.submenu-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc($size / 16)rem;
}

.submenu-text::after {
  content: "";
  display: block;
  font-weight: 700;
  width: 20px;
  height: 20px;
  background-image: url("../assets/icon/arrowDown.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.submenu-text--header {
  color: #002fa7;
  font-weight: 700;
}

.submenu-hidden {
  position: absolute;
  display: none;
  overflow: hidden;
  left: 0;
  margin: 0;
  width: 210%;
  border-radius: 5px;
  background-color: #002fa7;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.submenu-item {
  display: block;
  padding: 15px;
  color: #fff;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}

.submenu-item:hover {
  background-color: #052064;
}

.submenu:hover .submenu-hidden {
  display: block;
  -webkit-animation: fadeInRight .3s ease;
          animation: fadeInRight .3s ease;
}

.submenu:hover .submenu-text::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.submenu__mobile {
  position: relative;
  display: inline-block;
  z-index: 11;
  overflow: hidden;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.submenu__mobile > .submenu-hidden {
  position: static;
}

.submenu__mobile--active .submenu-hidden {
  display: block;
  -webkit-animation: opacityMenuIn .3s ease;
          animation: opacityMenuIn .3s ease;
}

.submenu__mobile--active .submenu-text::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@-webkit-keyframes opacityMenuIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes opacityMenuIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=subMebu.css.map */