.gallery {
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 160px);
        gap: rem(30);
        @include big-desktop {
            grid-template-columns: repeat(2,minmax(180px, 1fr));
            grid-template-rows: repeat(8, 260px);
        }
        @include mobile {
            grid-template-columns: repeat(2,minmax(140px, 1fr));
            grid-template-rows: repeat(8, 120px);
        }
    }
    &-item {
        overflow: hidden;
        border-radius: $border-radius-m;
        background-color: #000;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        &--1 {
            background-image: url('../assets/img/heroBanner.jpg');
        }
        &--2 {
            background-image: url('../assets/img/heroBanner.jpg');
        }
        &--3 {
            position: relative;
            background-image: url('../assets/img/heroBanner.jpg');
            grid-row: 2 span;
            grid-column: 2 span;
        }
        &--4 {
            background-image: url('../assets/img/heroBanner.jpg');
        }
        &--5 {
            background-image: url('../assets/img/heroBanner.jpg');
        }
        &--6 {
            position: relative;
            background-image: url('../assets/img/heroBanner.jpg');
            grid-row: 2 span;
            grid-column: 2 span;
        }
        &--7 {
            background-image: url('../assets/img/heroBanner.jpg');
        }
        &--8 {
            background-image: url('../assets/img/heroBanner.jpg');
        }
        &--9 {
            background-image: url('../assets/img/heroBanner.jpg');
        }
        &--10 {
            background-image: url('../assets/img/heroBanner.jpg');
        }
    }
}