@font-face {
    font-family: 'PT Sans Caption';
    src: url('../assets/font/PTSans-Caption.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans Caption';
    src: url('../assets/font/PTSans-CaptionBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}